* {
	box-sizing: border-box;;
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	font-family: monospace;
	font-size: 12pt;
	background-color: #d0d0d0;
}

div.header {
	padding: 0.25em 1em;
	font-size: 2em;
	background-color: #373737;
	color: #EEEEEE;
	min-width: 100%;
}

div.body {
	padding: 1em 3em;
}

div.board {
	display: inline-block;
	border-color: #662d09;
	border-style:  solid;
	border-width: 0.5em;
	overflow: auto;
	text-align: center;
}

table.board {
	border-spacing: 0;
}

table.board td {
	background-color: #1a850d;
	border-color: #219f12;
	width: 3em;
	height: 3em;
	border-style: solid;
	border-width: 0.2em;
}

table.board td:hover {
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25) inset;
}
